.wysiwyg-editor {
    border-radius: 2px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.2);
}

.dark .wysiwyg-editor {
    box-shadow: 0 6px 4px rgba(255, 255, 255, 0.2);
}

.toolbar {
    border: 1px solid;
    border-color: var(--element-border) var(--element-border) var(--element-fg);
    padding: 2px 5px;
    display: flex;
    align-items: center;
}

.toolbar button {
    margin-right: 3px;
    padding: 5px 10px;
    border: none;
    background: var(--element-bg);
    cursor: pointer;
    color: var(--element-fg);
}

.toolbar button.active {
    background: var(--high-edge-color);
    color: white;
}

.editor-container {
    border: 1px solid;
    border-color: transparent var(--element-border) var(--element-border);
    background-color: var(--element-bg);
    min-height: 100px;
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;
}

.editor-btn-container {
    display: flex;
    justify-content: end;
    gap: 10px;
    padding: 10px;
}

.editor-btn-container button {
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.btn-save {
    background-color: var(--high-edge-color);
    color: white;
}

.btn-reset {
    background-color: var(--element-bg);
    color: var(--element-fg);
}

.editor-btn-container button:hover {
    opacity: 0.8;
    transform: scale(0.95);
}
